body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  background-color: #141414;
  color: white;
}

.nav {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(#141414, #14141400);
  font-size: 14px;
  z-index: 2;
  padding: 10px 0px;
}

label {
  margin-right: 15px;
  line-height: 38px;
  cursor: pointer;
  color: white;
  margin-right: 1em;
  margin-left: 1em;
}

input[type=radio]:checked ~ label {
  border-top: 2px solid #E50A15;
  padding-top: 2px;
}


input[type=radio] {
  display: none;
}

.nav div:last-child {
  margin-left: auto;
  margin-right: 20px;
}

input[type=text] {
  padding: 3px;
  border-radius: 15px;
  float: right;
  font-family: 'Bebas Neue', cursive;
  border: none;
  font-size: 14px;
  padding-left: 6px;
  margin-top: 7px;
  margin-right: 7px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  width: 40%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
  cursor: pointer;
}

::placeholder {
  font-size: 14px;
  color: rgb(150, 150, 150);
  padding-left: 1px;
  padding-right: 10em;
}

:focus::placeholder {
  color: rgb(150, 150, 150);
}

input[type=text]:focus {
  width: 140%;
  background-color: rgba(58, 58, 58, 0.644);
  color: white;
}

.container{
  margin-top: 55px;
}

.container ul {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  padding: 0;
  margin: 14px;
}

.container img {
  transition: all .4s;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 6px;
}

.container img:hover {
  transform: translate(0, -3px);
  cursor: pointer;
  -webkit-transform:translate3d(0,0,49);
  z-index: 0;
  box-shadow: 0 0 0 2.5px white;
  border-radius: 7px;
}

.netflix-logo {
  margin-left: 1em;
  width: 110px;
  height: 32px;
  object-fit: cover;
}

@media only screen and (max-width: 800px) {
.netflix-logo {
  display: none;
}

.searchbar {
  display: none;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0));
  font-size: 14px;
  z-index: 2;
  padding: 10px 0px;
}

.container ul {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 0;
  margin: 12px;
}
}
  
